<!DOCTYPE html>
<html language="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1>Create Event</h1>

<nav th:replace="fragments :: navigation"></nav>
<!--<p th:text="${errorMsg}"></p>-->
<form method="post" action="/events/create">
    <div class="form-group">
        <label>Name
            <input th:field="${event.name}" class="form-control"/>
        </label>
        <p class="error" th:errors="${event.name}"></p>
    </div>
    <div class="form-group">
    <label>Description
        <input th:field="${event.description}" class="form-control"/>
    </label>
        <p class="error" th:errors="${event.description}"></p>
    </div>
    <div class="form-group">
        <label>Contact E-Mail
            <input th:field="${event.contactEmail}" class="form-control"/>
        </label>
        <p class="error" th:errors="${event.contactEmail}"></p>
    </div>
    <div class="form-group">
        <label>Location
            <input th:field="${event.location}" class="form-control"/>
        </label>
        <p class="error" th:errors="${event.location}"></p>
    </div>
    <div class="form-group">
        <label>Registration Required
            <input type="checkbox" th:field="${event.registrationRequired}" class="form-control"/>
        </label>
        <p class="error" th:errors="${event.registrationRequired}"></p>
    </div>
    <div class="form-group">
        <label>Expected Attendance
            <input th:field="${event.attendance}" class="form-control"/>
        </label>
        <p class="error" th:errors="${event.attendance}"></p>
    </div>
    <div class="form-group">
        <label>Event Date
            <input type="date" th:field="${event.date}" class="form-control"/>
        </label>
        <p class="error" th:errors="${event.date}"></p>
    </div>
    <div class="form-group">
        <input type="submit" value="Create Event" class="btn-success"/>
    </div>


</form>

</body>
</html>