<!DOCTYPE html>
<html language="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1>All Events</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${events} and ${events.size()}">No events!</p>

<!--<ul>-->
<!--    <li th:each="event:${events}" th:text="${event}"></li>-->
<!--</ul>-->

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Location</th>
        </tr>
    </thead>
    <th:block the:each="evvent : ${events}">
    <tr th:each="event : ${events}">
        <td th:text="${event.id}"></td>
        <td th:text="${event.name}"></td>
        <td th:text="${event.getDescription()}"></td>
        <td th:replace="fragments :: location">location</td>
    </tr>
    </th:block>
</table>

</body>
</html>