<!DOCTYPE html>
<html language="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
    <form action='hello' method='post'>
    <input type=text name='name' />
    <select name='language' id='language'>
        <option value='english' selected='true'>English</option>
        <option value='latin'>Latin</option>
        <option value='pigLatin'>Pig Latin</option>
        <option value='klingon'>Klingon</option>
        <option value='elvish'>Elvish</option>
    </select>
    <input type=submit value='Greet Me' />
    </form>
</body>
</html>